<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat치logo de Productos</title>
</head>
<body>
    <h1>Cat치logo de Productos</h1>
    <form method="POST" action="/user/orders">
        <table>
            <thead>
                <tr>
                    <th>Seleccionar</th>
                    <th>C칩digo de Barras</th>
                    <th>Nombre</th>
                    <th>Descripci칩n</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(product => { %>
                    <tr>
                        <td>
                            <input type="checkbox" name="items[<%= product.codebar %>][selected]" value="true">
                            <input type="hidden" name="items[<%= product.codebar %>][codebar]" value="<%= product.codebar %>">
                        </td>
                        <td><%= product.codebar %></td>
                        <td><%= product.name %></td>
                        <td><%= product.description %></td>
                        <td>$<%= product.price %></td>
                        <td><%= product.stock %></td>
                        <td>
                            <input type="number" name="items[<%= product.codebar %>][quantity]" min="1" max="<%= product.stock %>" placeholder="Cantidad">
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <button type="submit">Realizar Pedido</button>
    </form>
    
</body>
</html>
